body{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.container{
    width: 100%;
    height: auto;
    min-height: 600px;
    max-width: 800px;
    min-width: 350px;
    background: #f1f5f8;
    background-image: radial-gradient(#144d86 7.2%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    padding: 1rem;
    box-sizing: border-box;
}

.imagem-cabecalho{
    width: 24%;
    mix-blend-mode: multiply;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.titulo-cabecalho{
    transform: rotate(5deg);
    padding: 0.2rem 1.2rem;
    border-radius: 20% 5% 20% 5%/5% 20%;
    background-color: rgba(0, 256, 196, 0.6);
    font-size: 1.5rem;
}

.form-label{
    display: block;
    margin-bottom: 0.5rem;
    margin-left: 25%;
    font-size: 30px;
    font-family: "Gochi Hand", cursive;
}

.form-input{
    box-sizing: border-box;
    background-color: transparent;
    padding: 0.7rem;
    border-bottom-right-radius: 15px 3px;
    border-bottom-left-radius: 3px 15px;
    border: solid 3px transparent;
    border-bottom: dashed 3px #ea95e0;
    font-family: "Gochi Hand", cursive;
    font-size: 1.5rem;
    color: rgba(6, 4, 122, 0.7);
    width: 70%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.form-input:focus {
    outline: none;
    border: solid 3px #ea95e0;
}

.button {
    padding: 0;
    border: none;
    cursor: pointer;
    transform: rotate(4deg);
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 2px 0 #124f8d;
    transition: all 0.5s cubic-bezier(
        0.275, 0.985, 0.42, 2.275);
}

.button span {
    background-color: #7f98ac;
    display: block;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    border: 2px solid #71b5f8;
}

.button:active, .button:focus {
    transform: translateY(4px);
    padding-bottom: 0px;
    outline: 0;
}

.toDoList{
    text-align: left;
    font-family: "Gochi Hand";
    font-size: 1.5rem;
}

.toDoList li {
    position: relative;
    padding: 0.5rem;
}

.toDoList li:hover {
    text-decoration: line-through wavy #24bffb;
}
